body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 6rem;
  background-image: url('./img/sampul-copy.png');
  background-size: cover;
  min-height: 80vh;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

#Berita {
  background-color: #fffae2;
}

section {
  padding-top: 5rem;
}

#Kontak {
  background-color: #fffae2;
}
